@import 'bootstrap/dist/css/bootstrap.min.css';

.menu{
    color: white;
    text-decoration: none;
}

.active{
    color: red;
}

.logoHeader{
    margin: 0;
    width: 6rem;
}

.cardTitle {
    font-weight: 1000;
}